{
  "presets": [
    [
      "@babel/preset-env", {
        "targets": {
          "electron": "34"
        }
      }
    ],
    "@babel/preset-react"
  ],
  "env": {
    "coverage": {
      "plugins": [
        [ "istanbul", {
          "exclude": [
            "**/__tests__/**",
            "**/test/**"
          ]
        } ]
      ]
    }
  }
}
