/**
 * Copyright Camunda Services GmbH and/or licensed to Camunda Services GmbH
 * under one or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information regarding copyright
 * ownership.
 *
 * Camunda licenses this file to you under the MIT; you may not use this file
 * except in compliance with the MIT License.
 */

:local(.credentialsModal) {
  .credentials-modal-loading {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 240px;
  }

  .credentials-modal-group {
    margin-top: 20px;

    h3 {
      margin: 0 0 12px;
      font-size: 13px;
      font-weight: 600;
      line-height: 1.4;
    }
  }

  .form-group {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 16px;

    &.has-error .form-control {
      border-color: var(--color-red-360-100-45);
      background-color: var(--color-red-360-100-97);

      &:focus {
        border-color: var(--color-red-360-100-45) !important;
        box-shadow: 0 0 0 2px hsla(360, 100%, 45%, 0.35);
      }
    }
  }

  .form-text {
    max-width: var(--input-width);
    margin: 4px 0 0;
    font-size: 12px;
    line-height: 1.4;
    color: var(--color-grey-225-10-45);

    a {
      color: var(--color-blue-205-100-45);
    }
  }

  .credentials-modal-error {
    margin: 4px 0;
    font-size: 12px;
    line-height: 1.4;
    color: var(--color-red-360-100-45);
  }

}
