{
  "extends": [
    "plugin:camunda-licensed/mit"
  ],
  "overrides": [
    {
      "files": [
        "dev.js",
        "forge.config.js"
      ],
      "extends": "plugin:bpmn-io/node"
    }
  ]
}
