{
  "extends": [
    "plugin:camunda-licensed/mit"
  ],
  "overrides": [
    {
      "files": [
        "dev.js",
        "webpack.config.js",
        "webpack.config.license.js"
      ],
      "extends": "plugin:bpmn-io/node"
    }
  ]
}
