:local(.BpmnEditor) {
  display: flex;
  flex: 1;
  overflow: hidden;

  flex-direction: column;

  .editor {
    flex: 1;

    display: flex;
    flex-direction: row;

    .diagram {
      flex: 1;
      position: relative;
    }
  
    .properties {
      flex: none;
    }
  }

  .bjs-container {
    --bjs-font-family: var(--font-family);
  }

  /**
   * Fix properties tabbing
   */
  .bpp-properties-tabs-links > .bpp-active a {
    position: relative;

    &:before {
      content: '';
      z-index: 5;
      bottom: -2px;
      left: 0;
      right: 0;
      border-bottom: solid 3px var(--color-grey-225-10-95);
      position: absolute;
    }
  }

  .djs-minimap {

    .toggle {
      color: var(--color-grey-225-10-35);
    }

    .toggle:hover {
      color: var(--color-blue-205-100-45);
    }

    &:not(.open) .toggle:before {
      content: '\f278';
      font-family: 'app';
      font-size: 20px;
    }

    &.open {
      .toggle {
        padding: 3px 5px;
        margin-right: 4px;

        line-height: 24px;
        text-align: right;

        opacity: 0.5;
      }

      .toggle:before {
        content: '\e80a';
        font-family: 'app';
        font-size: 14px;
      }

      .toggle:hover {
        opacity: 1;
      }

      .viewport-dom {
        border-color: var(--color-blue-205-100-50);
      }
    }
  }

}

:local(.Color) {
  border: solid 1px var(--color-grey-225-10-15);
  margin: 4px;
  width: 64px;
  height: 16px;
}