:local(.BpmnEditor) {
  display: flex;
  flex: 1;
  overflow: hidden;

  flex-direction: column;

  .editor {
    flex: 1;

    display: flex;
    flex-direction: row;

    .diagram {
      flex: 1;
      position: relative;
    }
  }

  .bjs-container {
    --bjs-font-family: var(--font-family);
  }

  /* @camunda/improved-canvas restets */
  .djs-container.bio-improved-canvas {
    background-color: var(--background);
  }

  .bio-improved-canvas defs pattern circle {
    fill: var(--neutral-border-strong) !important;
  }
}
