.bio-properties-panel-group-header {
  background-color: transparent !important;
  position: relative !important;
}

.bio-properties-panel-group-header.open {
  border-bottom: none !important;
}

.bio-properties-panel-applied-template-button .bio-properties-panel-group-header-button, 
.bio-properties-panel-template-update-available .bio-properties-panel-group-header-button, 
.bio-properties-panel-group-header-button.bio-properties-panel-select-template-button {
  background-color: var(--select-template-background-color) !important;
}

.bio-properties-panel-applied-template-button .bio-properties-panel-group-header-button:hover, 
.bio-properties-panel-template-update-available .bio-properties-panel-group-header-button:hover, 
.bio-properties-panel-group-header-button.bio-properties-panel-select-template-button:hover {
  background-color: var(--select-template-hover-background-color) !important;
}

.bio-properties-panel-template-not-found .bio-properties-panel-group-header-button {
  background-color: var(--unknown-template-background-color) !important;
}

.bio-properties-panel-template-not-found .bio-properties-panel-group-header-button:hover {
  background-color: var(--unknown-template-hover-background-color) !important;
}