:root {
  --log-font-family: var(--font-mono);
  --log-font-size: var(--text-xs);
  --log-color: var(--foreground);
}

:local(.LogTab) {
  position: relative;
  font-size: var(--log-font-size);
  font-family: var(--log-font-family);
  line-height: 20px;
  color: var(--log-color);

  white-space: pre-wrap;
  padding: 8px 12px;
  resize: none;
  outline: none;

  width: 100%;
  display: block;

  .entry {
    * {
      user-select: text;
    }
  }

  .action {
    color: var(--link-color);
  }

  .category {
    color: var(--neutral-foreground-subtle);
  }
}
