:local(.Linting) {
  svg {
    fill: currentColor;
    margin-right: 2px;
    margin-left: -5px;
    width: 24px;
    height: 24px;
  }

  &.has-errors {
    color: var(--color-red-360-100-45) !important;

    svg {
      fill: var(--color-red-360-100-45);
    }
  }
}