@import url("../../styles/_form-definitions.less");

:local(.PropertiesContainer) {

  position: relative;
  outline: none;

  background: var(--color-grey-225-10-97);

  &.open {
    border-left: solid 1px var(--color-grey-225-10-75);
    box-shadow: 0 0 2px var(--color-black-opacity-30);
  }

  .toggle {
    position: absolute;
    left: -30px;
    top: 50%;
    background: var(--color-grey-225-10-97);
    padding: 7px 10px;
    transform: rotate(-90deg);
    white-space: nowrap;
    font-size: 13px;
    border: solid 1px var(--color-grey-225-10-75);
    border-bottom: none;
    border-radius: 2px 2px 0 0;
    transform-origin: top left;
    z-index: 10;
    cursor: default;
    user-select: none;
  }

  .resize-handle {
    margin-left: -5px;
    cursor: ew-resize;
    z-index: 11;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 5px;
    user-select: none;
  }

  .properties-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
  }

  .bio-properties-panel {
    --font-family: inherit;
    --font-family-monospace: inherit;
    background: var(--color-white);

    .bio-properties-panel-input { 
      .input-base();
    }

    .bio-properties-panel-checkbox {
      .checkbox-base();

      margin-left: -1px;

      input[type="checkbox"] {
        + label {
          display: block;
          margin-left: 0;
          padding: 0 0 1px 20px;
          line-height: 17px;
        }
      }
    }
  }

}