:local(.ProcessApplicationsButton) {
  background: linear-gradient(90deg, fuchsia 0%, transparent 100%) !important;
}
  
:local(.ProcessApplicationsOverlay) {
  .link {
    cursor: pointer;
    text-decoration: underline;
  }

  .section {
    height: 500px !important;
  }

  ul.dashed {
    max-height: none !important;
  }
}
