:local(.DmnEditor) {
  display: flex;
  flex: 1;
  overflow: hidden;

  flex-direction: column;

  .dmn-drd-container {
    --drd-font-family-monospace: var(--font-family-monospace);
  }

  /* @camunda/improved-canvas restets */
  .djs-container.bio-improved-canvas {
    background-color: var(--background);
  }

  .bio-improved-canvas defs pattern circle {
    fill: var(--neutral-border-strong) !important;
  }

  .dmn-decision-table-container {
    --decision-table-font-family: var(--font-family);
  }

  .dmn-literal-expression-container {
    --literal-expression-font-family: var(--font-family);
    --literal-expression-font-family-monospace: var(--font-family-monospace);
  }

  :not(.top) + .bottom {
    .dmn-decision-table-container,
    .dmn-literal-expression-container {
      display: none;
    }
  }

  &>.top {
    display: flex;
    gap: 8px;
    padding: 10px;
  }

  &>.bottom {
    display: flex;
    flex: 1;
    flex-direction: row;
  }

  .diagram {
    flex: 1;
    position: relative;
  }

  .diagram:not(.drd) {
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .djs-container > .dmn-definitions {
    display: none;
  }
}
