:root {
  --linting-issue-background-color: var(--color-grey-225-10-95);
  --linting-issue-border-color: var(--color-grey-225-10-95);

  --linting-issue-padding: 6px 8px;
}

:local(.LintingIssue) {
  display: flex;
  align-items: stretch;
  border-bottom: solid 1px var(--linting-issue-border-color);
  font-size: 14px;
  cursor: default;

  * {
    user-select: text;
  }

  &.linting-issue--selected,
  &:not(.linting-issue--empty):hover {
    background-color: var(--linting-issue-background-color);
  }

  .linting-issue__header {
    display: flex;
    align-items: flex-start;
    width: 200px;
    padding: var(--linting-issue-padding);
    background-color: var(--linting-issue-error-background-color);
    border-right: solid 1px var(--linting-issue-border-color);

    svg {
      margin-top: 1px;
    }

    .linting-issue__label {
      display: inline-block;
      max-width: 150px;
      overflow: hidden;
      margin-left: 10px;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-weight: bold;
    }
  }

  .linting-issue__content {
    display: flex;
    width: calc(100% - 200px);
    padding: var(--linting-issue-padding);

    &.linting-issue__content--empty {
      font-weight: bold;
    }
  }

  &.linting-issue--empty {
    border-bottom: none !important;

    .linting-issue__header {
      border-right: none;

      .linting-issue__label {
        font-weight: normal;
      }
    }
  }
}
