:local(.OverlayDropdown) {
  width: auto;

  ul {
    list-style: none;
  }

  ul, button {
    margin: 0;
    padding: 0;
  }

  li {
    margin: 0;
    padding: 6px;

    cursor: pointer;
  }

  li:hover {
    background-color: var(--silver-darken-94);
  }

  li + li {
    padding-top: 6px;
  }

  li button {
    border: none;

    background-color: transparent;
    color: var(--overlay-link-color);

    cursor: inherit;
  }
}
