:local(.FormEditor) {
  display: flex;
  flex: 1;
  flex-direction: row;

  .container {
    display: flex;
    flex: 1;
    flex-direction: row;
  }

  .fjs-container {
    display: flex;
    flex: 1;
    flex-direction: row;
  }

  .fjs-powered-by {
    display: none;
  }
}