<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>BuildMachineOSBuild</key>
    <string>14D136</string>
    <key>CFBundleDisplayName</key>
    <string>Camunda Modeler</string>
    <key>CFBundleExecutable</key>
    <string>Camunda Modeler</string>
    <key>CFBundleIconFile</key>
    <string>electron.icns</string>
    <key>CFBundleIdentifier</key>
    <string>com.electron.camunda-modeler</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>Camunda Modeler</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleDocumentTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>bpmn</string>
        </array>
        <key>CFBundleTypeIconFile</key>
        <string>XML</string>
        <key>CFBundleTypeName</key>
        <string>BPMN Document</string>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>LSHandlerRank</key>
        <string>Alternate</string>
      </dict>
      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>dmn</string>
        </array>
        <key>CFBundleTypeIconFile</key>
        <string>XML</string>
        <key>CFBundleTypeName</key>
        <string>DMN Document</string>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>LSHandlerRank</key>
        <string>Alternate</string>
      </dict>
      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>cmmn</string>
        </array>
        <key>CFBundleTypeIconFile</key>
        <string>XML</string>
        <key>CFBundleTypeName</key>
        <string>CMMN Document</string>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>LSHandlerRank</key>
        <string>Alternate</string>
      </dict>
      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>xml</string>
        </array>
        <key>CFBundleTypeIconFile</key>
        <string>XML</string>
        <key>CFBundleTypeName</key>
        <string>XML Document</string>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>LSHandlerRank</key>
        <string>Alternate</string>
      </dict>
    </array>
    <key>CFBundleVersion</key>
    <string><%= buildVersion %></string>
    <key>CFBundleShortVersionString</key>
    <string><%= appVersion %></string>
    <key>DTSDKBuild</key>
    <string>14D125</string>
    <key>DTSDKName</key>
    <string>macosx10.1010.10</string>
    <key>DTXcode</key>
    <string>0721</string>
    <key>DTXcodeBuild</key>
    <string>7C1002</string>
    <key>LSApplicationCategoryType</key>
    <string>public.app-category.developer-tools</string>
    <key>LSMinimumSystemVersion</key>
    <string>10.9.0</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>NSMainNibFile</key>
    <string>MainMenu</string>
    <key>NSPrincipalClass</key>
    <string>AtomApplication</string>
    <key>NSSupportsAutomaticGraphicsSwitching</key>
    <true/>
    <key>NSHumanReadableCopyright</key>
    <string>camunda Services GmbH, 2015-2017</string>
  </dict>
</plist>
