[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=Camunda Modeler
Comment=Model BPMN
Categories=Development;
StartupWMClass=camunda-modeler
Icon=/opt/camunda-modeler/camunda-modeler.png
Exec="/opt/camunda-modeler/camunda-modeler" %f
