:local(.SidePanelTitleBar) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  flex: none;
  height: 37px;
  padding: 0 8px 0 12px;
  border-bottom: 1px solid var(--app-bar-border-color);
  background-color: var(--app-bar-background-color);

  .side-panel-title-bar__title {
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: var(--text-sm);
    font-weight: var(--font-weight-medium);
    color: var(--foreground);
  }
}
