:root {
  --blue-base: #4d90ff;
  --blue-darken-48: #005df7;
  --blue-darken-55: #1a70ff;
  --blue-darken-62: #3c85ff;
  --blue-lighten-75: #80b0ff;
  --blue-lighten-82: #a2c5ff;

  --silver-base: #f8f8f8;
  --silver-lighten-99: #fcfcfc;
  --silver-darken-80: #cdcdcd;
  --silver-darken-87: #dedede;
  --silver-darken-94: #efefef;

  --grey-lighten-57: #909090;
  --grey-darken-23: #3b3b3b;
  --grey-darken-30: #4c4c4c;
  --grey-darken-33: #535353;

  --red-base: #ff3d3d;
  --red-lighten-85: #ffb3b3;
}
