:root {
  --status-bar-background-color: var(--silver-darken-94);
  --status-bar-border-color: var(--color-cccccc);
  --status-bar-font-color: var(--grey-darken-23);
  --status-bar-active-background-color: var(--blue-base-65);
  --status-bar-active-hover-background-color: var(--blue-darken-62);
  --status-bar-active-font-color: var(--color-ffffff);
  --status-bar-hover-background-color: var(--silver-darken-80);
}