:root {
  --status-bar-background-color: var(--silver-base-97);
  --status-bar-border-color: var(--color-dddddd);
  --status-bar-font-color: var(--grey-darken-23);
  --status-bar-active-color: var(--silver-darken-87);
}