name: CHECK_LICENSES

on:
  push:    
    branches:
    - main
    - develop
    tags:
    - '*'

jobs:
  analyze:
    name: Analyze dependencies
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
    - uses: actions/checkout@v4
    # Import FOSSA_API_KEY from Vault
    - name: Import Secrets
      id: secrets
      uses: hashicorp/vault-action@v3.0.0
      with:
        url: ${{ secrets.VAULT_ADDR }}
        method: approle
        roleId: ${{ secrets.VAULT_ROLE_ID }}
        secretId: ${{ secrets.VAULT_SECRET_ID }}
        exportEnv: false
        secrets: |
          secret/data/products/desktop-modeler/ci/fossa FOSSA_API_KEY;
    - name: Setup fossa-cli
      uses: camunda/infra-global-github-actions/fossa/setup@0e82486eaa9ef8589e051c556a1b5218efa6d37f
    - name: Analyze project
      uses: camunda/infra-global-github-actions/fossa/analyze@0e82486eaa9ef8589e051c556a1b5218efa6d37f
      with:
        api-key: ${{ steps.secrets.outputs.FOSSA_API_KEY }}
        branch: ${{ github.ref_name }}
        revision-id: ${{ github.sha }}
