name: CI
on: [ push, pull_request ]
jobs:
  Build:
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, macos-11, windows-2019 ]
    runs-on: ${{ matrix.os }}

    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Use Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 16
        cache: 'npm'
    - name: Install dependencies
      run: npm ci
    - name: Build with code coverage
      if: ${{ runner.OS == 'Linux' }}
      run: COVERAGE=1 npm run all -- --x64 --no-compress
    - name: Build
      if: ${{ runner.OS != 'Linux' }}
      run: npm run all -- --x64 --no-compress
    - name: Upload coverage
      if: ${{ runner.OS == 'Linux' }}
      uses: codecov/codecov-action@v4
