name: NEW_ALPHA_ISSUE
on:
  schedule:
    # After the April and October releases
    - cron: '0 8 15 APR,OCT *'
jobs:
  create_issue:
    name: Create issue
    runs-on: ubuntu-latest
    steps:
      - run: gh issue create --title "$ISSUE_TITLE" --body "$ISSUE_BODY" --label "ready" --repo $GITHUB_REPOSITORY
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          ISSUE_TITLE: "Add new alpha engine profile"
          ISSUE_BODY: |
            ### What should we do?
            Add a new Alpha Version to the version select.
            - [ ] Update the version select (C7, C8)
            - [ ] Update linting profiles (C7, C8)

            ### Why should we do it?
            To support the next alpha release of the engine.
